// header start
.body-section {
    margin-left: 323px;
    @include transition(0.5s);

    @include mq(max, $tab) {
        margin-left: 300px;

        &.open {
            margin-left: 60px;

            .header {
                &.sticky {
                    width: calc(100vw - 60px);
                }
            }
        }
    }
}

// home-page
.home-page {
    background-color: $second;
}

.boxShadow {
    @include box-shadow(10px 24px 54px rgba(0, 0, 0, 0.13));
    background-color: $second;
    @include border-radius(12px);
}

// title
.title {
    margin-bottom: 36px;

    @include mq(max, $laptop) {
        margin-bottom: 26px;
    }

    h3 {
        font-size: 22px;
        color: $black;
        @include inter(medium500);
        text-transform: capitalize;
    }

    p {
        font-size: 15px;
        color: $black;
        @include inter(regular400);
        min-height: 22.5px;

        a {
            color: $black;
            text-decoration: underline;

            &:hover {
                color: $main;
            }
        }
    }

    &_big {
        margin-bottom: 28px;

        h2 {
            font-size: 40px;
            color: $main;
            @include Bebas(regular400);
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }

        p {
            font-size: 15px;
            color: $black;
            @include inter(regular400);
        }

        &.fsize70 {
            h2 {
                font-size: 70px;
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

// media
.media,
.media-start {
    display: flex;
}

// mb-28
.mb-28 {
    margin-bottom: 28px;
}

// mb-30
.mb-30 {
    margin-bottom: 30px;
}

// mt-30
.mt-30 {
    margin-top: 30px;
}

// mt-100
.mt-100 {
    margin-top: 100px;

    @include mq(max, $laptop) {
        margin-top: 50px;
    }

    @include mq(max, $tab) {
        margin-top: 30px;
    }
    
}

// btn-custom
.btn-custom {
    background: $main;
    color: $white;

    font-size: 20px;
    border: 1px solid $main;
    padding: 10px 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    width: 260px;
    @include border-radius(50px);
    @include transition(0.5s);
    margin-left: auto;
    margin-right: auto;

    &:hover {
        background: $white;
        color: $main;
    }
}

// p-60
.p-60 {
    padding: 60px 0;
}

// mh100vh
.mh100vh {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(max, $laptop_xl) {
        min-height: auto;
    }
}

// main_content
.main_content {
    @include mq(max, $mobile) {
        margin-bottom: 15px;
    }

    h3 {
        font-size: 70px;
        color: $main;
        line-height: 85px;
        @include Bebas(regular400);

        @include mq(max, $laptop) {
            font-size: 62px;
            line-height: 1;
            margin-bottom: 10px;

            br {
                display: none;
            }
        }

        @include mq(max, $desktop_md) {
            font-size: 48px;
        }

        @include mq(max, $desktop_md) {
            font-size: 32px;
        }
    }

    p {
        font-size: 24px;
        color: $text_color;
        line-height: 32px;

        @include mq(max, $laptop) {
            font-size: 22px;

            br {
                display: none;
            }
        }

        @include mq(max, $desktop_md) {
            font-size: 18px;
        }

        @include mq(max, $desktop_md) {
            font-size: 15px;
            line-height: 1.4;
        }
    }
}

// row_custom
.row {
    &_custom {
        @include mq(max, $laptop) {
            flex-direction: column;

            .col-md-6,
            .col-lg-9,
            .col-lg-7 {
                width: 100%;
                margin-bottom: 50px;
            }
        }

        &_sec {
            .col-md-6 {
                width: 100%;
                margin-bottom: 50px;

                .text-end.perfect_dts {
                    text-align: left !important;
                }
            }
        }
    }

    @include mq(max, $laptop_md) {
        .custom-md-5,
        .custom-md-7 {
            width: 100%;
        }
    }
}

// bg_img
.bg_img {
    background-image: url(../img/path-bg.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

// header end
