// navbar-custom start
.navbar_custom {
    .navbar {
        &-custom {
            justify-content: space-between;
        }

        &-toggler {
        }

        &-collapse {
            justify-content: flex-end;
        }

        &-nav {
            font-size: 0;
            align-items: center;
            width: 100%;
            position: relative;
            justify-content: flex-end;

            li {
                display: inline-block;

                a {
                    position: relative;
                    font-size: 25px;
                    color: $text_color;
                    display: block;
                    margin: 0 35px;
                    padding: 0;
                    @include transition(0.5s);

                    @include mq(max, $laptop_xl) {
                        margin: 0 20px;
                        font-size: 20px;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        height: 2px;
                        background: #00a8ce;
                        width: 0;
                        left: 0;
                        @include transition(1s);
                    }

                    &:hover {
                        color: $main;

                        &:after {
                            // width: 100%;
                        }
                    }
                }

                &.active {
                    a {
                        color: $main;

                        &:after {
                            width: 100%;
                        }
                    }
                }

                &.marketplace-link {
                    a {
                        font-size: 24px;
                        color: $main;
                        text-transform: uppercase;
                        font-weight: bold;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);

                        @include mq(max, $laptop) {
                            position: static;
                            transform: inherit;
                        }

                        @include mq(max, $laptop_xl) {
                            font-size: 20px;
                        }

                        &:hover {
                            color: $text_color;
                        }
                    }
                }

                &.login-btn {
                    a {
                        font-size: 20px;
                        color: $main;
                        text-transform: uppercase;
                        font-weight: bold;
                        background-color: $second;
                        @include border-radius(29px);
                        padding: 15px 40px;

                        &:hover {
                            background-color: $main;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
// navbar-custom end
