// aside start
.aside {
    position: fixed;
    width: 323px;
    background-color: $main;
    height: 100vh;
    float: left;
    @include transition(0.5s);

    @include mq(max, $tab) {
        width: 300px;

        &.close {
            width: 60px;
            overflow: hidden;

            // name-sec
            .name-sec {
                a {
                    span {
                        display: none;
                    }

                    img {
                        display: none;
                    }
                }
            }
        }
    }

    @include mq(max, $mobile) {
        width: 60px;
        overflow: hidden;

        // name-sec
        .name-sec {
            a {
                span {
                    display: none;
                }

                img {
                    display: none;
                }
            }
        }
    }

    // name-sec
    .name-sec {
        height: 124px;
        position: relative;

        a {
            @include img-center(both);
            font-size: 36px;
            color: $white;
            width: 100%;
            padding-left: 45px;
            text-transform: uppercase;
            font-weight: bold;

            @include mq(max, $tab) {
                padding-left: 0;
                text-align: center;
            }

            .nnn {
                display: block;
            }

            img {
                display: none;
            }
        }
    }

    // menu-sec
    .menu-sec {
        ul {
            li {
                a {
                    font-size: 18px;
                    color: $white;
                    padding: 10px 10px 10px 38px;
                    display: block;
                    position: relative;
                    border-left: 10px solid $main;
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;

                    @include mq(max, $tab) {
                        padding-left: 10px;
                        border-width: 5px;
                        margin-bottom: 15px;
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.29);
                        border-color: #c6ddff;
                    }

                    img {
                        position: relative;
                        margin-right: 30px;
                    }
                }

                &.active {
                    a {
                        background: rgba(255, 255, 255, 0.29);
                        border-color: #c6ddff;
                    }
                }
            }
        }
    }

    // logo-sec
    .logo-sec {
        position: absolute;
        bottom: 9%;
        width: 100%;
        padding-left: 50px;
        background-color: $main;

        @include mq(max, $tab) {
            padding-left: 0;
        }

        a {
            display: block;

            img {
                width: auto;
            }
        }

        &-logo {
            margin: 0 auto;

            @include mq(max, $tab) {
                display: none;
            }
        }

        &-icon {
            display: none;

            @include mq(max, $tab) {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
// aside end
