// login start
.login {
    position: relative;
    background-color: $white;
    @include border-radius(100px);
    padding: 100px 75px;
    z-index: 9;
    margin-bottom: 50px;

    @include mq(max, $laptop) {
        padding: 50px 30px;
        @include border-radius(80px);
    }

    @include mq(max, $tab) {
        @include border-radius(50px);
    }

    @include mq(max, $mobile) {
        padding: 30px 15px;
    }

    &-sec {
        &-title {
            margin-bottom: 50px;

            @include mq(max, $mobile) {
                margin-bottom: 30px;
            }
        }

        h2 {
            font-size: 70px;
            color: $main;
            text-align: center;
            @include Bebas(regular400);

            @include mq(max, $laptop) {
                font-size: 64px;
            }
            @include mq(max, $tab) {
                font-size: 45px;
            }

            @include mq(max, $mobile) {
                font-size: 30px;
            }
        }

        p {
            font-size: 18px;
            color: $text_color;
            text-align: center;

            @include mq(max, $tab) {
                font-size: 15px;

                br {
                    display: none;
                }
            }

            @include mq(max, $mobile) {
                font-size: 15px;
            }
        }

        .form {
            &-floating {
                label {
                }

                input {
                }
            }

            &-password-eye {
                position: relative;

                // toggle-password
                .toggle-password {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $main;
                }
            }

            &-check {
                margin-top: 40px;
                margin-bottom: 40px;
                position: relative;

                &-input {
                }

                &-label {
                    font-size: 15px;
                    color: $text_color;
                }

                .forget-password {
                    position: absolute;
                    right: 0;
                    top: 0;

                    a {
                        font-size: 15px;
                        color: $text_color;
                        text-decoration: underline;

                        &:hover {
                            color: $main;
                        }
                    }
                }
            }
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            button,
            a {
                font-size: 20px;
                border: 1px solid $main;
                padding: 10px 15px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 8px;
                width: 260px;
                @include border-radius(50px);
                @include transition(0.5s);

                @include mq(max, $mobile) {
                    font-size: 15px;
                }

                &.btn-login {
                    background: $main;
                    color: $white;

                    &:hover {
                        background: $white;
                        color: $main;
                    }
                }

                &.btn-register {
                    background: $white;
                    color: $main;

                    &:hover {
                        background: $main;
                        color: $white;
                    }
                }
            }
        }
    }
}

// custom-radio
.custom-radio {
    margin-bottom: 30px;
    text-align: center;

    &.form-group {
        p {
            text-align: left;
            margin-bottom: 20px;
            font-size: 16px;
        }

        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        label {
            position: relative;
            cursor: pointer;

            &.p100px {
                padding-right: 100px;
            }

            &:before {
                content: "";
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid $main;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;
            }
        }
        input:checked + label:before {
            background-color: $main;
        }

        input:checked + label:after {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 9px;
            width: 6px;
            height: 14px;
            border: solid $white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    .d-flex {
        label {
            padding-right: 0;
        }
    }
}

// inputDnD
.inputDnD {
    .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 56px;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: $white;

        &:before {
            content: attr(data-title);
            position: absolute;
            left: 0;
            width: 100%;
            min-height: 47px;
            opacity: 1;
            visibility: visible;
            text-align: center;
            border: 0.25em dashed #707070;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            overflow: visible;
            padding: 6px;
            color: #a0a0a0;
            font-size: 18px;
        }

        &:hover {
            &:before {
                border-color: $main;
                color: $main;
            }
        }
    }
}

// animation_clouds start
.animation_clouds {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    overflow: hidden;

    img {
        @include transform(scale(1));
        @include css3(animation, animateCloud 55s 0s linear infinite both);
    }
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    from {
    	transform: translateX(-100%);
    }
    to {
 		transform: translateX(100%);   
    }
}

@-moz-keyframes animateCloud {
    from {
    	transform: translateX(-100%);
    }
    to {
 		transform: translateX(100%);   
    }
}

@keyframes animateCloud {
    from {
    	transform: translateX(-100%);
    }
    to {
 		transform: translateX(100%);   
    }
}

/* ANIMATIONS */
// animation_clouds end
// login end
